.ui-stack { display: flex; }

.ui-stack-row { flex-direction: row; }
.ui-stack-column { flex-direction: column; }
.ui-stack-row-reverse { flex-direction: row-reverse; }
.ui-stack-column-reverse { flex-direction: column-reverse; }

.ui-stack-wrap { flex-wrap: wrap; }
